 body {
		background-color: rgba(255, 99, 71, 0.7);
 }
 
 #h101 {
		background-color: #333333;
		padding: 25px;
		color: white;
 }
 
 #h201 {
		background-color: #333333;
		padding: 25px;
		color: white;
 }
 
 #h202 {
		background-color: #333333;
		padding: 25px;
		color: white;
 }